// Fonts

//custom classes
@import "custom/variables";
@import "extra-style";

// Bootstrap
@import 'modules/bootstrap';

//custom base classes
@import "custom/base";
@import "custom/editor";
@import "custom/button";
// header
@import "custom/header";

@import "responsive";


//custom container
.custom-container {
  @extend .container;
  max-width: $custom-container-width;
}

// rev slider & formidable
#rev_slider_1_1_wrapper *,
#rev_slider_19_1_wrapper * {
  font-family: 'Yekan-en', 'Yekan'!important;
}
.single-services rs-slide h1,
.single-services rs-slide h2{
  display: none!important;
}

#frm_form_3_container * {
  font-family: 'Yekan-en', 'Yekan'!important;
  direction: ltr !important;
}

.frm_pos_top.frm_section_spacing {
  @extend .text-start, .text-white;
}

.frm_repeat_buttons {
  @extend .text-start;
}

.frm_icon_font.frm_plus_icon:before {
  content: "\f4fe" !important;
  font-style: normal !important;
  font-size: 20px !important;
  font-family: bootstrap-icons !important;
}
.frm_style_formidable-style.with_frm_style .frm_icon_font.frm_minus_icon:before{
  content: "\f2ea" !important;
  font-style: normal !important;
  font-size: 20px !important;
  font-family: bootstrap-icons !important;
}
.with_frm_style .frm_button{
  background-color: transparent!important;
  border: none!important;
}
.form-item.active-from{
  position: relative;
  background-color: #1b4f76;
}
.form-navbar .form-item:nth-child(1).active-from:after{
  right: 0;
  bottom: 0;
  content: "\A";
  border-style: solid;
  border-width: 23px 0 23px 27px;
  border-color: transparent transparent transparent #1b4f76;
  position: absolute;
  left: 100%;
}
.frm_forms.frm_style_formidable-style.with_frm_style {
  background-color: #287fbfcf !important;
}
.form-navbar .form-item:nth-child(2).active-from:after {
  left: 0;
  bottom: 0;
  content: "\a";
  border-style: solid;
  border-width: 23px 0 23px 27px;
  border-color: transparent transparent transparent #246b9f;
  position: absolute;
  right: 100%;
}
.frm_section_heading, #frm_field_18_container, .with_frm_style .frm_submit, #frm_field_64_container {
  width: 98% !important;
  margin-left: auto;
  margin-right: auto;
}

.frm_style_formidable-style.with_frm_style .frm-show-form .frm_section_heading h3 {
  @extend .border-0;
}

#rev_slider_19_1_wrapper * {
  text-align: left !important;
}

//icons service

//more link effect

.MoreLink {
  &:before {
    right: 0;
    bottom: auto;
    top: -5px;
    content: " ";
    display: block;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &:after {
    left: 0;
    bottom: -5px;
    content: " ";
    display: block;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &:hover:after, &:hover:before {
    webkit-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #fff;
    -o-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    -webkit-transition: width 350ms ease-in-out;
    -moz-transition: width 350ms ease-in-out;
    width: 100%;
  }

  &:after, &:before {
    border: 0.5px solid rgba(255, 255, 255, 0);
    -webkit-transition: all 280ms ease-in-out;
    -o-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
  }
}

//hover direction


.direction-aware-hover {
  *:hover ~ .direction-aware-hover__content {
    transition: opacity 0s,
    left 0s ease-in-out,
    top 0s ease-in-out,
    z-index 0s linear 0s;
    z-index: 1;
  }

  .direction-aware-hover__content {
    background: rgba(0, 0, 0, 0.5);
    color: #EEE;
    opacity: 0;
    transform: none;
    transition: opacity .25s, left .25s ease-in-out, top .25s ease-in-out, z-index 0s linear .25s;

    &:after {
      bottom: -100%;
      content: '';
      left: -100%;
      position: absolute;
      right: -100%;
      top: -100%;
      z-index: -1;
    }

    &:hover {
      left: 0;
      opacity: 1;
      top: 0;
      transition: opacity 0.25s,
      left .25s ease-in-out,
      top .25s ease-in-out,
      z-index 0s linear 0s;
      z-index: 1;
    }
  }

  .direction-aware-hover__left {
    left: 70.75% !important;
    right: -70.75% !important;
    transform: rotate(45deg);

    &:hover ~ .direction-aware-hover__content {
      left: -100% !important;
    }
  }

  .direction-aware-hover__right {
    left: -70.75% !important;
    right: 70.75% !important;
    transform: rotate(45deg);

    &:hover ~ .direction-aware-hover__content {
      left: 100% !important;
    }
  }

  .direction-aware-hover__top {
    bottom: -70.75% !important;
    top: 70.75% !important;
    transform: rotate(45deg);

    &:hover ~ .direction-aware-hover__content {
      top: -100% !important;
    }
  }

  .direction-aware-hover__bottom {
    bottom: 70.75% !important;
    top: -70.75% !important;
    transform: rotate(45deg);

    &:hover ~ .direction-aware-hover__content {
      top: 100% !important;
    }
  }
}

//blog card hover effect
.aos2 article:hover {
  img {
    transform: scale(1.2);
    transition: transform 4s ease-out;
  }
}

.textBlog {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.76));

  .excerpt {
    opacity: 0;
    transform: scale(0);
    transition: all 0.55s;
  }

  &:hover {
    .title {
      opacity: 0;
      transform: scale(0);
    }

    .excerpt {
      opacity: 1;
      transform: scale(1);
    }
  }
}

//clients

.tooltip {
  a {
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }

  .tooltiptext {
    visibility: hidden;
    width: 100px;
    border-radius: 6px;
    padding: 5px 0;
    bottom: -115%;
    left: 150%;
    margin-right: 0px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

//card gallery hover

.card-overlay {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);

  &:hover {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in-out 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


//search blog
.search-box {
  max-width: 360px;
  height: 60px;
  border-radius: 120px;
}

.search-icon {
  top: 6px;
  height: 25px;
  width: 25px;
  line-height: 61px;
  left: 52px;
  pointer-events: none;
  will-change: transform;
  transform: rotate(-45deg);
  transform-origin: center center;
  transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.si-rotate {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.search-border {
  max-width: 360px;
  height: 60px;
  transform: scale(0.7);

  .border-input {
    fill: none;
    stroke: $danger;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke-dasharray: 740;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  }
}

.border-searching .border-input {
  stroke-dasharray: 740;
  stroke-dashoffset: 459;
  transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
}

#search-input {
  padding: 0 0px 0 90px;
  outline: none;
}
.lang-en #search-input {
  padding: 0 90px 0 0px!important;
}
#search-input::-webkit-input-placeholder {
  color: $danger;
  font-size: 12px;
}

#search-input::selection {
  color: $danger;
  background: rgba(0, 0, 0, 0.25);
}

//spinner
#loading-spinner {
  display: none;
}

#loading-spinner.show-spinner {
  display: flex;
}

//mockup website
.mac {
  top: 26%;
  right: 35%;
  width: 800px;
  height: 459px;
  z-index: 1;

  .imgBX {
    top: 4px;
    left: 76px;
    width: 648px;
    height: 422px;
    background-position: top !important;
    background-size: 100% !important;
    transition: 8s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &:hover .imgBX {
    background-position: bottom !important;
  }

  &:after {
    content: '';
    position: absolute;
    background-color: #000;
    top: 4px;
    width: 10%;
    height: 16px;
    right: 50%;
    transform: translateX(+50%);
    z-index: 1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.iphone {
  top: 37%;
  z-index: 1;
  right: 13%;
  width: 180px;
  height: 362px;

  .imgBX {
    width: 157px;
    height: 339px;
    background-position: top !important;
    background-size: 100% !important;
    top: 12px;
    right: 12px;
    border-radius: 11px;
    transition: 15s;
  }

  &:hover .imgBX {
    background-position: bottom !important;
  }

  &:after {
    content: '';
    position: absolute;
    background-color: #000;
    top: 17px;
    width: 32%;
    height: 16px;
    right: 50%;
    border-radius: 30px;
    transform: translateX(+50%);
    z-index: 1;
  }
}

.ipad {
  right: 20%;
  top: 13%;
  width: 400px;
  height: 554px;

  .imgBX {
    height: 511px;
    width: 357px;
    top: 22px;
    right: 21px;
    border-radius: 15px;
    background-position: top !important;
    background-size: 100% !important;
    transition: 9s;
  }

  &:hover .imgBX {
    background-position: bottom !important;
  }
}
@media (max-width: 1600px) {
  .ipad {
    height: 410px;
    right: 24%;
    top: 13%;
    width: 260px;
    .imgBX {
      height: 333px;
      right: 10px;
      top: 13px;
      width: 240px;
    }
  }
  .mac {
    height: 319px;
    right: 35%;
    top: 26%;
    width: 550px;
    .imgBX {
      height: 295px;
      left: 52px;
      top: 4px;
      width: 445px;
    }
  }
  .iphone {
    right: 18%;
    top: 37%;
    width: 120px;
    &:after {
      height: 10px;
      top: 10px;
      width: 29%;
    }
    .imgBX {
      height: 228px;
      right: 7px;
      top: 8px;
      width: 105px;
    }
  }
}
.website-hover-card {
  //height: 500px;
  .imgBX {
    background-position: top !important;
    background-size: 100% !important;
    transition: 7s;
  }
}

.direction-aware-hover:hover .imgBX {
  background-position: bottom !important;
}

//category button & swiper Thumbnails
.category-button,
.swiperThumb li{
  cursor: pointer;
}


//swiper thumbnail
.swiperThumb .swiper-slide {
  opacity: 0.4;
}

.swiperThumb .swiper-slide-thumb-active {
  opacity: 1;
}

#category-filter .nav-link.active {
  border: 1px solid $danger;
}

//slider on about us
.Description-Macanism {
  z-index: 10000;
  -webkit-transition-delay: 3s;
  -o-transition-delay: 3s;
  transition-delay: 3s;
  opacity: 0
}

//animate menu dropdown
#navbarTogglerMenu .sub-menu {
  @extend .translate-middle-y, .position-absolute, .end-0, .start-0, .top-0;
}


//macanism
$primary-color: #693a9d;

.M-shape {
  width: 71px !important;
}

.A-shape {
  width: 83px !important;
}

.K-shape {
  width: 62px !important;
  height: 123px !important;
  background: $primary-color !important;
}

.AA-shape {
  width: 171px !important;
  height: 93px !important;
  background: $primary-color !important;
}

.N-shape {
  width: 119px !important;
  height: 208px !important;
  background: $primary-color !important;
}

.I-shape {
  width: 65px !important;
  height: 224px !important;
  background: $primary-color !important;
}

.S-shape {
  width: 86px !important;
  height: 155px !important;
  background: $primary-color !important;
}

.MM-shape {
  width: 243px !important;
  height: 64px !important;
  background: $primary-color !important;
}

.M-flower-Animation,
.A-flower-Animation,
.K-flower-Animation,
.AA-flower-Animation,
.N-flower-Animation,
.I-flower-Animation,
.S-flower-Animation,
.MM-flower-Animation {
  animation: flower-Animation 2s forwards;
  -webkit-animation: flower-Animation 2s forwards;
  -moz-animation: flower-Animation 2s forwards;
}

.Description-Macanism {
  z-index: 10000;
  -webkit-transition-delay: 3s;
  -o-transition-delay: 3s;
  transition-delay: 3s;
  opacity: 0;
  p {
    font-size: 15px;
    width: 200px !important;
    line-height: 15px;
    text-align: right !important;
    padding-right: 5px !important
  }
  .Description-Bold {
    font-weight: bold !important;
    font-size: 24px !important
  }
  .Description-Light {
    font-size: 16px !important
  }
}
.Macanism-Description-animate {
  animation: Macanism-animate .3s forwards;
  -webkit-animation: Macanism-animate .3s forwards;
  -moz-animation: Macanism-animate .3s forwards;
}

@-webkit-keyframes flower-Animation {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }
}

@keyframes flower-Animation {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }
}

@each $shape in M, A, K, AA, N, I, S, MM {
  .#{$shape}-flower-Animation {
    animation: #{$shape}-flower-Animation 2s forwards;
    -webkit-animation: #{$shape}-flower-Animation 2s forwards;
    -moz-animation: #{$shape}-flower-Animation 2s forwards;
  }

  @-webkit-keyframes #{$shape}-flower-Animation {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateY(#{if($shape == 'AA', '-100px', '300px')});
      transform: translateY(#{if($shape == 'AA', '-100px', '300px')});
    }
  }

  @keyframes #{$shape}-flower-Animation {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateY(#{if($shape == 'AA', '-100px', '300px')});
      transform: translateY(#{if($shape == 'AA', '-100px', '300px')});
    }
  }
}

@-webkit-keyframes Macanism-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Macanism-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//work with us
.frm_dropzone.frm_single_upload {
  background: transparent!important;
  max-width: unset!important;
  color: white!important;
  .dz-message {
    background: transparent!important;
  }
}

//slider aboutus
#rev_slider_19_1 ul {
  list-style: square;
}
#rev_slider_19_1 p {
  text-align: justify!important;
  line-height:1.8!important;
  font-size: 18px !important;
}
#rev_slider_19_1 *{
  pointer-events: all !important;
}
#rev_slider_19_1 .accordion-button::after {
  filter: invert(1)!important;
}
#rev_slider_19_1 .accordion-button:focus {
  box-shadow: unset !important
}
