.editor {
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-bottom: 1rem;
  }
}

strong {
  font-weight: 600 !important;
}

//list styles
ol {
  list-style-type: urdu !important;
  li {
    margin-left: 1rem;
  }
}

.sidebar-container {
  a {
    color: $danger;
  }
    ul,ol{
        @extend .list-unstyled;
    }
    p a{
        word-break: break-word;
        direction: ltr!important;
    }
}

.table-of-contents {
  a {
    color: rgba(33, 33, 33, 0.47);
    font-weight: 600;
    transition: all 0.1s linear;
  }

  .active-item {
    color: $danger;
  }
}

ul, ol {
  padding: 0;
  line-height: 1.7;
}
body.single-post main *::selection{ /* Code for Firefox */
  color: black;
  @extend .bg-danger , .bg-opacity-25;
}

//pagination
ul.pagination {
  li.page-item {
    span.page-numbers.current {
      border-bottom: 1px solid white;
      color: white;
      padding: 0 3px;
    }
  }
}
//box before text
.sidebar-container {
  // pre for References
  pre {
    background: hsl(0deg 0% 94% / 36%);
    border: 2px solid #c9c9c97a;
    display: block;
    font-size: 1rem;
    margin: 10px 40px;
    padding: 20px;
    direction: rtl;
    @extend .text-truncate;
    a {
      overflow-x: scroll;
      color: #808080c4!important;
    }
  }
  .table-of-contents {
    ul {
      list-style: square !important;
      margin-left: 10px;
    }
  }
  .content {
    ul {
      list-style: square !important;
    }
    h2 {
      font-size: 25px!important;
    }
    h3 {
      font-size: 23px!important;
    }
    h4 {
      font-size: 21px!important;
    }
    h1,h2,h3,h4,h5,h6 , p:not(:has(img)) , span , div ,ol , ul {
      @extend .px-3
    }
  }
  b {
    padding: 5px;
    @extend .bg-danger , .bg-opacity-25;
    line-height: 2;
  }
  blockquote {
    @extend .p-lg-5 , .p-4 ;
    background: #e3e0e0;
    color: black;
    > p:first-child:before {
      background-color: transparent !important;
      width: 10px !important;
      content: '"';
    }
    > p:last-child:after {
      content: ' "';
      width: 10px !important;
    }
  }
  p:nth-child(1):before {
    transform: translate(+5px,5px);
    content: '';
    width: 20px;
    height: 20px;
    background-color: $danger;
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
}
.content {
  p:has(> img) {
    text-align: center;
  }
  ul {
    list-style: unset;
    margin-left: 20px!important;
  }
}
//comments
#wpdcom {
  & *:not(input , .wpd-comment-label , .wpd-comment-author , .wpd-reply-to , .wpd-reply-button , .wc_comment) {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .wpd-second-button, .wpd-prim-button , .wc_comm_submit , input[type=text]{
    font-family: 'Yekan';
  }
  .wpd-form .wpd-textarea-wrap {
    flex-basis: 100% !important;
  }
  max-width: unset!important;
}
#commentform {
  .col-md-6 , .col-12  {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .form-floating {
    padding: 0 5px!important;
  }
}
.form-floating {
  textarea {
    min-height: 170px;
  }
  & > .form-control:focus ~ label:after {
    background-color: transparent !important
  }
}